CompileFlags:
  CompilationDatabase: .
  Add:
    - "-I/home/shrey/projects/nes_emulator_c/include"

    - "-x"
    - "c"
    - "-std=gnu11"

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build

Completion:
  AllScopes: Yes
  ArgumentLists: FullPlaceholders
  HeaderInsertion: IWYU
  CodePatterns: All
